
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div>
            <img class="webIcon" src="Images/handmadeIcon.png" />
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link pages" href="" Match="NavLinkMatch.All">
                <span class="" aria-hidden="true"></span> Products
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link pages" href="Customers">
                <span class="" aria-hidden="true"></span> Customers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link pages" href="Orders">
                <span class="" aria-hidden="true"></span> Orders
            </NavLink>
        </div>
    </nav>
</div>

<style>
    .webIcon {
        width: 200px;
        margin: 25px;
    }

    .pages {
        font-size: 30px;
        font-family: Consolas;
    }
</style>

